<br>
<h4>Funds Information</h4>
<hr>
<table class="table">
  <tr>
    <th>Money Status</th>
    <th>Amount ($)</th>
  </tr>
  <tr>
    <td>Funds Donated</td>
    <td>800.67</td>
  </tr>
  <tr>
    <td>Funds Pending</td>
    <td>200.43</td>
  </tr>
</table>
<div class="right">
  <a href="https://me.me/i/me-can-i-get-you-anything-else-customer-yeah-a-a171f32340184184bc8df917115c4322">View eStatement</a>
</div>

<br>
<h4>People Information</h4>
<hr>
<table class="table">
  <tr>
    <th>Help Provided</th>
    <th>Quantity (people)</th>
  </tr>
  <tr>
    <td>Education</td>
    <td>203</td>
  </tr>
  <tr>
    <td>Food</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Clothes</td>
    <td>312</td>
  </tr>
  <tr>
    <td>Medical</td>
    <td>46</td>
  </tr>
  <tr>
    <td>Others</td>
    <td>172</td>
  </tr>
  <tr>
    <td>Total Families</td>
    <td>113</td>
  </tr>
  <tr>
    <td>Total Individual</td>
    <td>320</td>
  </tr>
</table>
