<div class="cardbackground" contenteditable="false" >
  <div class="margin-top">
    <div class="row-padding">
        <div class="third" style="padding: 5px;"> 
          <div class="white text-grey shadow1">
            <div class="userpic" style="height: 140px;">
              <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="Avatar">
            </div>
          </div>   
        </div>
        <div class="twothird" style="padding: 5px;">
          <div class="container shadow2 white" style="position: relative;">
            <h2 class="text-black" style="font-size: x-large; margin-top: 5px;">
                <button class="btn" style="right: 0; margin-right: 5px;" [routerLink]="['/details']">See Details</button>
              {{request.title}}
              <img src="assets/dollar-sign.png" alt="icon" style="float: right; width: 20px; height: 20px; margin-right: 50px;">
            </h2>
            <h5 class="opacity" style="font-size: small;">
              <b>{{request.location}}</b>
            </h5>
            <div class="container">
              <h6 class="text-black" style="margin: 20px 0 0 -10px; font-size: small;">{{request.description}}</h6>
              <hr>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
