.cardbackground {
    width: 100%;
    height: 150px;
    color: black;
    background-color: #f1f1f1; 
}

.margin-top {
    margin-top: 16px;
}

.third {
    float: left;
    width: 20%;
    padding: 5px;
}

.twothird {
    float: left;
    width: 80%;
    padding: 5px;
}

.request-box {
    color: #000;
    background-color: #fff;
    position: relative;
}

.request-picture {
    position: relative;
    height: 140px;
}

.userpic {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.text-title {
    color: #000;
    font-size: x-large; 
    margin-top: 5px;
}

.text-description {
    margin: 20px 0 0 -10px; 
    font-size: small;
}

.text-location {
    opacity: 0.60;
    font-size: small;
}

.container {
    padding: 0.01em 16px;
}

.container .btn {
    position: absolute;
    background-color:#f0f0f0;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    font-size: x-small;
}

.container .btn:hover {
    background-color: black;
    color: white;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.categoryicon {
    float: right; 
    width: 20px; 
    height: 20px;
}

.row-padding:after, .row-padding:before {content:"";display:table;clear:both;}

*, *:before, *:after {
    box-sizing: inherit;
}