<div *ngIf="selectedCategory === request.category || selectedCategory === 'All'" class="cardbackground" contenteditable="false" >
  <div class="margin-top">
    <div class="row-padding">
        <div class="third"> 
          <div class="request-picture">
            <img [src]=user?.picture alt="Avatar" class="userpic">
          </div>
        </div>
        <div class="twothird">
          <div class="container request-box">
            <h2 class="text-title">
              {{request.title}}
              <img *ngIf="request.category==='Food'" src='assets/food.png' alt="food" class="categoryicon">
              <img *ngIf="request.category==='Education'" src='assets/education.png' alt="education" class="categoryicon">
              <img *ngIf="request.category==='Medical'" src='assets/redcross.png' alt="medical" class="categoryicon">
              <img *ngIf="request.category==='Clothes'" src='assets/shirt.png' alt="shirt" class="categoryicon"> 
              <img *ngIf="request.category==='Other'" src='assets/other.png' alt="other" class="categoryicon">
            </h2>
            <h5 class="text-location">
              <b>{{request.location}}</b>
            </h5>
            <div class="container">
              <h6 class="text-description">{{request.description}}</h6>
              <hr>
              <button class="btn" style="right: 0; margin: -18px 5px;" [routerLink]="['/details/requestid/'+request.id+'/userid/'+user.id]">See Details</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
